.page {
  min-width: 940px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.body {
  min-height: 100%;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  
}

.body {
  margin-left: auto;
  margin-right: auto;
  
  padding: 40px;
  background-color: #f5f79b;
  color: #222215;
  //position: relative;
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: column;
   
}

.body a {
  color: #323515;
}
.body a:hover,
.body a:focus {
  text-decoration: none;
}
.body a:active {
  color:#f2c100;
  text-decoration: underline;
}

header {
  font-size: 0;
  background-color: #dfe255;
  border-radius: 25px;
}
main {
  padding-top: 40px;
 // display: flex;
 // justify-content: flex-start;
}


.photo {
  padding: 10px;
  border: 3px solid #dfe209;
  max-width: 290px;
  max-height: 386px;
}


.left_side {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.persinf {
  justify-content: left;
  text-align: justify;
  margin-left: 20px;
}

.skills,
.persqual {
  background-color: #dfe255;
  border-radius: 25px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer a {
  text-decoration: none;
}

.logo {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 768px) {
  main {
    display: block;
  }
  
}
