.page {
  min-width: 940px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.body {
  min-height: 100%;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-top: 30px;
  
}


.body a {
  color: #dfe209;
}

.body a:hover,
.body a:focus {
  text-decoration: none;
}
.body a:active {
  color:#f2c100;
  text-decoration: underline;
}

.photo {
  padding: 15px;
  margin: 15px;
  margin-bottom: 50px;
  
  border: 3px solid #dfe209;
  max-width: 290px;
  max-height: 386px;
}

.left_title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  background-color: #dfe255;
}

.left_title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 40px;
  background-color: #f2c100;
}

.left_side {
 
  background-color: #5b7953;
  color: #f5f5f5;
}

.left_side p,
.left_side ul {
  padding-left: 30px;
  padding-right: 20px;
  color: #f5f5f5;

}

.right_title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

.right_title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 40px;
  background-color: #5b7953;
}

.right_side .right_title {
  background-color: #85af79;
  color: #f5f5f5;
}


.persinf,
.target {
  justify-content: left;
  text-align: justify;
  color: #000000;
 
}

.skills,
.persqual {
  background-color: #dfe255;
  border-radius: 25px;
}

.right_side {
  margin-left: 30px;
}

.page_title {
  margin: 80px 80px 125px 60px;
}

.page_title p {
  font-size: 20px;
}

.main_title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  background-color: #5b7953;
}

.author {
  text-decoration: none;
 
}

.logo {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
  }
  
}
